{% extends 'base.html.twig' %}

{% set title = 'Se connecter' %}

{% block body %}
    <div class="row login_container">
        <div class="col-4 login">
            <h1 class="h3 mb-3 font-weight-normal text-center">{{ 'site.name'|trans }}</h1>
            {{ form_start(login) }}
            {% if error %}
                <div class="text-danger border rounded border-danger py-2 mb-2">
                    <span class="pl-3">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </div>
            {% endif %}
            {{ form_row(login.email) }}
            {{ form_row(login.password) }}
            <div class="d-flex justify-content-end">
                <a href="{{ path('register') }}">{{ 'account.create_account'|trans }}</a>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-primary px-4" type="submit">{{ 'login.submit'|trans }}</button>
            </div>
            {{ form_end(login) }}
        </div>
    </div>
{% endblock %}
