{% extends 'base.html.twig' %}

{% set title = 'account.register'|trans %}

{% block body %}
    <div class="border border-primary p-3 my-2">
        <h1>{{ 'account.register'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ 'account.register'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
