{% extends 'base.html.twig' %}

{% block body %}
    <div class="border p-3 my-2">
        {{ form_start(delete_account) }}
        <button id="delete-button" class="btn btn-danger" type="submit">{{ 'freelance.delete_account.label'|trans }}</button>
        <script>
            const deleteButton = document.getElementById('delete-button'),
                deleteForm = document.forms["{{ delete_account.vars.name }}"]

            deleteButton.addEventListener('click', function (e) {
                e.preventDefault();

                const res = confirm('{{ 'freelance.delete_account.confirm'|trans }}')

                if (res) {
                    deleteForm.submit()
                }
            });
        </script>
        {{ form_end(delete_account) }}
    </div>
{% endblock %}
