{% extends 'base.html.twig' %}

{% set title = 'Profile' %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.5.1.min.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#{{ information_form.vars.name }}_knownTechnologies').select2();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="border p-3 my-2">
        <h2>{{ 'freelance.information'|trans }}</h2>
        {{ form_start(information_form) }}
        {% set form_id = information_form.vars.full_name %}

        {{ form_row(information_form.knownTechnologies) }}
        <label>
            <input id="{{ form_id }}_otherKnownTechnologies" type="checkbox" {{ information_form.otherTechnologies.vars.value is not empty ? 'checked' : '' }}><span class="pl-1">{{ 'freelance.other_known_technologies.label'|trans }}</span>
        </label>
        <div id="otherTechnologiesContainer">
            {{ form_row(information_form.otherTechnologies) }}
        </div>
        {{ form_row(information_form.skills) }}
        <script>
            const otherKnownTechnologiesCheckbox = document.getElementById('{{ form_id }}_otherKnownTechnologies'),
                otherKnownTechnologiesText = document.getElementById('otherTechnologiesContainer'),
                informationForm = document.forms["{{ information_form.vars.name }}"];

            otherKnownTechnologiesCheckbox.addEventListener('change', function (e) {
                if (otherKnownTechnologiesCheckbox.checked) {
                    otherKnownTechnologiesText.classList.remove('d-none')
                    otherKnownTechnologiesText.classList.add('d-block')
                } else {
                    otherKnownTechnologiesText.classList.add('d-none')
                    otherKnownTechnologiesText.classList.remove('d-block')
                }
            })

            informationForm.addEventListener('submit', function (e) {
                e.preventDefault()

                if (!otherKnownTechnologiesCheckbox.checked) {
                    otherKnownTechnologiesText.innerText = ''
                }

                informationForm.submit();
            });

            otherKnownTechnologiesCheckbox.dispatchEvent(new Event('change'));
        </script>
        <button class="btn btn-primary" type="submit">{{ 'freelance.save'|trans }}</button>
        {{ form_end(information_form) }}
    </div>
{% endblock %}
