{% extends 'base.html.twig' %}

{% set title = action|trans %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.5.1.min.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#{{ offer_form.vars.name }}_knownTechnologies').select2();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="border border-primary p-3 my-2">
        <h2>{{ action|trans }}</h2>
        {{ form_start(offer_form) }}

        {{ form_row(offer_form.title) }}
        {{ form_row(offer_form.location) }}
        {{ form_row(offer_form.startDate) }}
        {{ form_row(offer_form.client) }}
        {{ form_row(offer_form.profile) }}
        {{ form_row(offer_form.knownTechnologies) }}

        {% set form_id = offer_form.vars.full_name %}
        <label>
            <input id="{{ form_id }}_otherKnownTechnologies" type="checkbox" {{ offer_form.otherTechnologies.vars.value is not empty ? 'checked' : '' }}><span class="pl-1">{{ 'freelance.other_known_technologies.label'|trans }}</span>
        </label>
        <div id="otherTechnologiesContainer">
            {{ form_row(offer_form.otherTechnologies) }}
        </div>
        <script>
            const otherKnownTechnologiesCheckbox = document.getElementById('{{ form_id }}_otherKnownTechnologies'),
                otherKnownTechnologiesText = document.getElementById('otherTechnologiesContainer'),
                informationForm = document.forms["{{ offer_form.vars.name }}"];

            otherKnownTechnologiesCheckbox.addEventListener('change', function (e) {
                if (otherKnownTechnologiesCheckbox.checked) {
                    otherKnownTechnologiesText.classList.remove('d-none')
                    otherKnownTechnologiesText.classList.add('d-block')
                } else {
                    otherKnownTechnologiesText.classList.add('d-none')
                    otherKnownTechnologiesText.classList.remove('d-block')
                }
            })

            informationForm.addEventListener('submit', function (e) {
                e.preventDefault()

                if (!otherKnownTechnologiesCheckbox.checked) {
                    otherKnownTechnologiesText.innerText = ''
                }

                informationForm.submit();
            });

            otherKnownTechnologiesCheckbox.dispatchEvent(new Event('change'));
        </script>
        {{ form_row(offer_form.requiredSkills) }}
        <button class="btn btn-primary">{{ 'offer.action.save'|trans }}</button>
        {{ form_end(offer_form) }}
    </div>
{% endblock %}
