{% extends 'base.html.twig' %}

{% set title = 'Liste des offres' %}

{% block body %}
    <div>
        <h2>{{ 'offer.list'|trans }}</h2>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message|raw }}
            </div>
        {% endfor %}
        <div class="row">
            {% for offer in offers %}
                {% set user_has_appli = 0 %}
                <div class="col-12 my-2 offer{% if offer.status.title == constant('App\\Entity\\OfferStatus::CANCELED') %} opacity-75{% endif %}">
                    <div class="mx-1 p-3 border border-primary">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="d-flex align-items-start">
                                    <div>
                                        {% if not offer.isCancel %}
                                            {% if app.user %}
                                                {% for postulated_offer in offer.applicants %}
                                                    {% if app.user.id == postulated_offer.freelance.id %}
                                                        <span title="{{ postulated_offer.state|trans }}" class="badge badge-pill badge-{{ postulated_offer.colorStatus }}">&nbsp;</span>
                                                        {% set user_has_appli = 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if user_has_appli == 0 and offer.status.title == constant('App\\Entity\\OfferStatus::POSTULATED') %}
                                                <span title="{{ offer.status.title|trans }}" class="badge badge-pill badge-primary">&nbsp;</span>
                                            {% elseif user_has_appli == 0 %}
                                                <span title="{{ offer.status.title|trans }}" class="badge badge-pill badge-{{ offer.colorStatus }}">&nbsp;</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="pl-3">
                                        <h3>{{ offer.title }}</h3>
                                        <span>{{ 'offer.linkword.looking_for_a'|trans({'%client%':offer.client, '%profile%':offer.profile.title|trans})|raw }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <div>
                                    <span>{{ 'offer.from'|trans({'%date%':offer.startDate|date("d/m/Y")}) }}</span>
                                </div>
                                {% set is_creator = app.user == null or app.user.id != offer.creator.id %}
                                {% if app.user %}
                                    <div>
                                        {% if offer.canBePostulated(app.user) %}
                                            {% if offer.containPostulatedOffer(postulated_offer) %}
                                                <a class='btn btn-danger' href="{{ path('offer_applicate', {'id': offer.id}) }}">{{ 'offer.give_up'|trans }}</a>
                                            {% else %}
                                                <a class='btn btn-success' href="{{ path('offer_applicate', {'id': offer.id}) }}">{{ 'offer.follow'|trans }}</a>
                                            {% endif %}
                                        {% endif %}

                                        {% if is_creator %}
                                            <button type="button" class="btn btn-primary px-3" data-toggle="modal" data-target="#offerModal-{{ offer.id }}">{{ 'dashboard.detail'|trans }}</button>
                                        {% else %}
                                            <a class="btn btn-primary" href="{{ path('offre_edit', {'id':offer.id}) }}">{{ 'dashboard.edit'|trans }}</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if not is_creator %}
                            <div class="modal fade" id="offerModal-{{ offer.id }}" tabindex="-1" aria-labelledby="offerModalLabel-{{ offer.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="offerModalLabel-{{ offer.id }}">{{ offer.title }}</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-flex justify-content-between mb-4">
                                                <div><span>{{ 'offer.linkword.looking_for_a'|trans({'%client%' : offer.client, '%profile%' : offer.profile.title|trans })|raw }}</span></div>
                                                <div><span>{{ 'offer.from'|trans({'%date%':offer.startDate|date("d/m/Y")}) }}</span></div>
                                            </div>
                                            <div><span>{{ 'offer.desired_technologies'|trans }} : </span><span>{{ offer.desiredTechnologies }}</span></div>
                                            <div class="mt-3">
                                                <p class="h3">{{ 'offer.required_skill'|trans }}</p>
                                                <p>{{ offer.requiredSkills|nl2br }}</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">{{ 'dashboard.close'|trans }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
