* {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* correction bootstrap */
.btn {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

/* header */
header {
    background-color: var(--blue);
    padding: 20px 0;
    position: relative;
}
header * {
    color: white;
}
header a:hover {
    color: white;
}
.siteLogo {
    font-size: 24px;
}
.header__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__menu {
    margin-right: 20px;
}
.header__menu a {
    margin: 0 5px;
}
.header__connexion--circled {
    border: 2px solid white;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 100px;
}
.header__connexion--circled:hover {
    background-color: white;
    color: var(--blue);
}
.burger {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    z-index: 101;
    margin: 0;
}
.burger__middleRow,
.burger::before,
.burger::after {
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
    transition: 700ms ease;
}
.burger__middleRow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.burger::after {
    content: "";
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
}
.burger::before {
    content: "";
    position: absolute;
    top: 0;
}
input#trigger_burger {
    display: none;
}
input#trigger_burger:checked
    + .container
    .burger__container
    .burger__middleRow {
    opacity: 0;
}

input#trigger_burger:checked + .container .burger__container .burger::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input#trigger_burger:checked + .container .burger__container .burger::after {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

input#trigger_burger:checked ~ .rwd_menu {
    right: 0;
}
.rwd_menu {
    position: fixed;
    z-index: 100;
    top: 0;
    right: -150vw;
    height: 100vh;
    background: var(--blue);
    transition: 700ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rwd_menu li {
    list-style: none;
}
.rwd_menu li a {
    color: white;
    font-size: 35px;
    margin: 10px;
    text-decoration: none;
}
.rwd_menu ul {
    padding: 0;
    width: 100%;
}
/* login */
.login_container {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}

.login {
    margin: 0 auto;
    border: 3px solid var(--blue);
    padding: 15px;
    min-width: 400px;
}

textarea {
    min-height: 200px;
}

.opacity-75 {
    opacity: 25%;
}

.bg-grey {
    background-color: #cdcdcd;
}

.show-item {
    cursor: pointer;
}
.bodySon {
    overflow: hidden;
}
@media screen and (max-width: 450px) {
    .login {
        margin: 0 auto;
        border: 3px solid var(--blue);
        padding: 15px;
        min-width: 300px;
    }
}

@media screen and (min-width: 992px) {
    .show-item {
        display: none !important;
    }
}
