<header>
  <input type="checkbox" id="trigger_burger">
  <div class="container">
    <div class="row">
      <div class='col-8 col-lg-4  text-left siteLogo'>
        <span>{{ 'site.name'|trans }}</span>
      </div>
      <div class='d-flex d-lg-none col-4 text-right header__links burger__container headerRWD__menu'>
          <label for="trigger_burger" class="burger">
            <span class="burger__middleRow"></span>
          </label>
      </div>
      <div class='d-none d-lg-flex col-lg-8 text-right header__links'>
        <div class="header__menu">
          <a href="{{path('offer_list')}}">{{ 'header.see_offer'|trans }}</a>
          <a href="{{path('offer_add')}}">{{ 'header.submit_offer'|trans }}</a>
        </div>
        <div class="header__connexion">
          {% if app.user %}
          <a href="{{path('app_logout')}}">{{ 'account.logout'|trans }}</a>
          <a href="{{path('dashboard')}}" class="header__connexion--circled">{{ 'account.dashboard'|trans }}</a>
          {% else %}
          <a href="{{path('app_login')}}">{{ 'account.sign_in'|trans }}</a>
          <a href="{{path('register')}}" class="header__connexion--circled">{{ 'account.register'|trans }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex d-lg-none col-md-6 col-sm-12 rwd_menu">
      <ul>
          <li class="text-center"><a href="{{path('offer_list')}}">{{ 'header.see_offer'|trans }}</a></li>
          <li class="text-center"><a href="{{path('offer_add')}}">{{ 'header.submit_offer'|trans }}</a></li>
        {% if app.user %}
          <li class="text-center"><a href="{{path('app_logout')}}">{{ 'account.logout'|trans }}</a></li>
          <li class="text-center"><a href="{{path('dashboard')}}" class="header__connexion--circled">{{ 'account.dashboard'|trans }}</a></li>
          {% else %}
          <li class="text-center"><a href="{{path('app_login')}}">{{ 'account.sign_in'|trans }}</a></li>
          <li class="text-center"><a href="{{path('register')}}" class="header__connexion--circled">{{ 'account.register'|trans }}</a></li>
          {% endif %}
      </ul>
  </div>
</header>
