{% extends 'base.html.twig' %}

{% set title = 'dashboard.label'|trans %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.5.1.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            const $shows = $('div[id^=widget]');

            $('.show-item').click(function (e) {
                const widgetId = $(this).data('widget-id');
                const $widget = $('#widget-' + widgetId);

                $shows.each(function () {
                    if ($widget !== $(this)) {
                        $(this).slideUp()
                    }
                })

                if ($widget.css('display') === 'none') {
                    $widget.slideDown()
                } else {
                    $widget.slideUp()
                }
            })

            const $window = $(window)
            $(window).resize(function () {
                if ($window.width() > 992) {
                    $shows.each(function () {
                        $(this).slideDown()
                    })
                } else {
                    $shows.each(function () {
                        $(this).slideUp()
                    })
                }
            });

            $(window).resize()
        })
    </script>
{% endblock %}
{% set widget_counter = 0 %}

{% block body %}
    <div class="row">
        <div class="col border border-primary m-1">
            <div class="d-flex align-items-center justify-content-between">
                <h2>{{ 'dashboard.quick_access'|trans }}</h2>
                <div class="show-item d-flex align-items-center" data-widget-id="{{ widget_counter }}">
                    <span class="p-2 font-weight-bold">II</span>
                </div>
            </div>
            <div id="widget-{{ widget_counter }}">
                <div class="border p-2 my-2">
                    <div class="d-flex justify-content-between">
                        <span class="font-weight-bold">{{ 'dashboard.edit_account'|trans }}</span>
                        <a href="{{ path('account') }}">
                            <button>{{ 'dashboard.see'|trans }}</button>
                        </a>
                    </div>
                    <ul>
                        <li>{{ app.user.lastname }}</li>
                        <li>{{ app.user.firstname }}</li>
                        <li>{{ app.user.email }}</li>
                    </ul>
                </div>
                <div class="border p-2 my-2">
                    <div class="d-flex justify-content-between">
                        <span class="font-weight-bold">{{ 'dashboard.edit_profile'|trans }}</span>
                        <a href="{{ path('profile') }}">
                            <button>{{ 'dashboard.see'|trans }}</button>
                        </a>
                    </div>
                    <p class="mt-2 px-1">{{ app.user.skills|u.truncate(100,'...',false) }}</p>
                </div>
            </div>
        </div>
        {% set widget_counter = widget_counter + 1 %}
        <div class="col-lg border border-primary m-1">
            <div class="d-flex align-items-center justify-content-between">
                <h2>{{ 'dashboard.my_offers'|trans }}</h2>
                <div class="show-item d-flex align-items-center" data-widget-id="{{ widget_counter }}">
                    <span class="p-2 font-weight-bold">II</span>
                </div>
            </div>
            <div id="widget-{{ widget_counter }}">
                {% for offer in my_offers %}
                    {{ _self.offer_item(offer, true) }}
                {% endfor %}
            </div>
        </div>
        {% set widget_counter = widget_counter + 1 %}
        <div class="col-lg border border-primary m-1">
            <div class="d-flex align-items-center justify-content-between">
                <h2>{{ 'dashboard.my_postulated_offers'|trans }}</h2>
                <div class="show-item d-flex align-items-center" data-widget-id="{{ widget_counter }}">
                    <span class="p-2 font-weight-bold">II</span>
                </div>
            </div>
            <div id="widget-{{ widget_counter }}">
                {% for postulated_offer in my_postulated_offers %}
                    {{ _self.postulated_offer_item(postulated_offer.offer, false, postulated_offer.colorStatus) }}
                {% endfor %}
            </div>
        </div>
        {% set widget_counter = widget_counter + 1 %}
    </div>
{% endblock %}

{% macro offer_item(offer, allow_managment) %}
    <div class="border p-2 my-2{% if offer.isCancel %} opacity-75 bg-grey{% endif %}">
        <div class="d-flex justify-content-between">
            <span class="font-weight-bold">{{ offer.title }}</span>
            {% if not offer.isCancel %}
                <span class="badge badge-pill badge-{{ offer.colorStatus }}">&nbsp;</span>
            {% endif %}
        </div>
        <p>{{ offer.requiredSkills|u.truncate(150, '...', false) }}</p>
        <div class="d-flex justify-content-between">
            <div>{{ 'offer.nbApplicants'|trans({'%count%' : offer.applicants|length}) }}</div>
            <div>
                {% if allow_managment %}
                    <a href="{{ path('offre_edit', { 'id' : offer.id }) }}">
                        <button>{{ 'dashboard.edit'|trans }}</button>
                    </a>
                    {% if offer.isCancel %}
                        <a href="{{ path('offre_cancel_cancel', { 'id' : offer.id }) }}">
                            <button>{{ 'dashboard.cancel_cancel'|trans }}</button>
                        </a>
                    {% else %}
                        <a href="{{ path('offre_cancel', { 'id' : offer.id }) }}">
                            <button>{{ 'dashboard.cancel'|trans }}</button>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro postulated_offer_item(offer, allow_managment, color) %}
    <div class="border p-2 my-2{% if offer.isCancel %} opacity-75 bg-grey{% endif %}">
        <div class="d-flex justify-content-between">
            <span class="font-weight-bold">{{ offer.title }}</span>
            {% if not offer.isCancel %}
                <span class="badge badge-pill badge-{{ color }}">&nbsp;</span>
            {% endif %}
        </div>
        <p>{{ offer.requiredSkills|u.truncate(150, '...', false) }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div>{{ 'offer.nbApplicants'|trans({'%count%' : offer.applicants|length}) }}</div>
            <div>
                <button type="button" class="px-3" data-toggle="modal" data-target="#offerModal-{{ offer.id }}">{{ 'dashboard.detail'|trans }}</button>
                <div class="modal fade" id="offerModal-{{ offer.id }}" tabindex="-1" aria-labelledby="offerModalLabel-{{ offer.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="offerModalLabel-{{ offer.id }}">{{ offer.title }}</h5>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex justify-content-between mb-4">
                                    <div><span>{{ 'offer.linkword.looking_for_a'|trans({'%client%' : offer.client, '%profile%' : offer.profile.title|trans })|raw }}</span></div>
                                    <div><span>{{ 'offer.from'|trans({'%date%':offer.startDate|date("d/m/Y")}) }}</span></div>
                                </div>
                                <div><span>{{ 'offer.desired_technologies'|trans }} : </span><span>{{ offer.desiredTechnologies }}</span></div>
                                <div class="mt-3">
                                    <p class="h3">{{ 'offer.required_skill'|trans }}</p>
                                    <p>{{ offer.requiredSkills|nl2br }}</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">{{ 'dashboard.close'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
